"{HOME}/.config/zellij/plugins/zjstatus.wasm" {
    RunCommands
    ReadApplicationState
    ChangeApplicationState
}

"{HOME}/.config/zellij/plugins/room.wasm" {
    ReadApplicationState
    ChangeApplicationState
}
